---
import BaseLayout from '../layouts/BaseLayout.astro';
const title = 'House Of Commons Outside';
const startColor = '#96a2ba';
const endColor = '#daeafa';
const headImage = {
  src: 'https://i.imgur.com/T2LMZ4j.png',
  alt: 'HOC Outside Image'
};
---

<BaseLayout title={title} startColor={startColor} endColor={endColor}>
    <div>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum elementum lectus vitae ultricies. Donec vitae luctus massa. Nam sit amet est semper, rutrum magna id, elementum arcu. Maecenas dictum lacinia dolor. Vivamus rutrum vel turpis id placerat. Nullam viverra, leo in consectetur scelerisque, arcu tortor commodo dui, quis rhoncus magna est sit amet eros. Nunc pulvinar, mauris sed convallis commodo, nisl mauris consectetur lacus, sit amet luctus lectus elit at metus. Donec tortor justo, feugiat eget nisi eget, dictum venenatis nibh. Ut porttitor accumsan enim in rhoncus. Fusce lacinia vestibulum egestas. Aliquam at rutrum nulla. Aenean viverra maximus nunc a porta. Quisque ipsum nisl, aliquam id ultricies eu, iaculis eget tortor. Nulla arcu lorem, efficitur sed dui non, auctor molestie eros. Donec et ante bibendum odio rutrum semper. Integer odio sapien, fermentum a quam ac, hendrerit accumsan neque.
	</div>
</BaseLayout>s