---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/transitions.css";
import BaseLayout from "../layouts/BaseLayout.astro";

const title = 'Home Page';
const startColor = '#0a0149';
const endColor = '#daeafa';
const headImage = {
	src: 'https://i.imgur.com/wW0XdWK.png',
	alt: 'HOC Hill Image'
};
---

<MainLayout title="Home">
	<div class="content">
		<section class="hidden2">
			<h1 id="title">Home</h1>
			<a href="ABOUT"><button style="height: 50px; width: 200px"></button></a>
			<br>
			<br>
			<img style="padding-left: 10%;" src="MH.jpg" alt="img">

		</section>

		<section class="hidden">
			<h1>Hi Mom</h1>
			<h2>This is my website</h2>
		</section>
	
		<section class="hidden2">
			<h2>Buy my product</h2>
			<p>oiauedhfiuwshefiuaheswrfgaserg
				a
				srg
				dasrg
				dzr
				gdrg
			</p>
		</section>
	
		<section class="hidden">
			<h3>It's a very good website
			</h3>
		</section>
	
		<section class="final">
			<h3>It's a very good website
			</h3>
		</section>
	</div>

	<BaseLayout title={title} startColor={startColor} endColor={endColor} headImage ={headImage}>
		<div>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum elementum lectus vitae ultricies. Donec vitae luctus massa. Nam sit amet est semper, rutrum magna id, elementum arcu. Maecenas dictum lacinia dolor. Vivamus rutrum vel turpis id placerat. Nullam viverra, leo in consectetur scelerisque, arcu tortor commodo dui, quis rhoncus magna est sit amet eros. Nunc pulvinar, mauris sed convallis commodo, nisl mauris consectetur lacus, sit amet luctus lectus elit at metus. Donec tortor justo, feugiat eget nisi eget, dictum venenatis nibh. Ut porttitor accumsan enim in rhoncus. Fusce lacinia vestibulum egestas. Aliquam at rutrum nulla. Aenean viverra maximus nunc a porta. Quisque ipsum nisl, aliquam id ultricies eu, iaculis eget tortor. Nulla arcu lorem, efficitur sed dui non, auctor molestie eros. Donec et ante bibendum odio rutrum semper. Integer odio sapien, fermentum a quam ac, hendrerit accumsan neque.
		</div>
	</BaseLayout>

</MainLayout>

<script defer>
	setTimeout(function(){document.querySelector('.content').classList.add("showBody");}, 1000);
	var observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
		if (entry.isIntersecting && entry.target.classList.contains("final")) {
			console.log("final")
			document.querySelector('.content').classList.add("fadeOut");
			setTimeout(function(){window.location.href = "ABOUT";}, 1000);
		}
        else if(entry.isIntersecting) {
			console.log("normal")
            entry.target.classList.add('show');
			//entry.target.style.background = "#ffffff no-repeat right top";
			//entry.target.style.color = "black";
		} else {
            entry.target.classList.remove('show');
			//entry.target.style.background = "#fffffff no-repeat right top";
        }
    });
});

var hiddenElementsIndex = document.querySelectorAll('.hidden');
hiddenElementsIndex.forEach((el) => observer.observe(el));
var hiddenElementsIndex2 = document.querySelectorAll('.hidden2');
hiddenElementsIndex2.forEach((el) => observer.observe(el));
var hiddenElementsIndex3 = document.querySelectorAll('.final');
hiddenElementsIndex3.forEach((el) => observer.observe(el));
</script>