---
import MainLayout from "../layouts/MainLayout.astro";

const title = 'House Of Commons';
const startColor = '#96a2ba';
const endColor = '#adc473';
const imgURL = "https://i.imgur.com/T2LMZ4j.png";
---

<MainLayout title={title} startColor={startColor} endColor={endColor} imgURL={imgURL}>
	<!-- <h1 id="mainTitle">A Crisis of Transparency</h1> -->
	<div class="content2">
		<section class="mainImg3">
			<br>
			<br>
		</section>

		<div class="gradient">
			<section class="hidden">
				<div class="flip-card box box6">
					<div class="flip-card-inner">
						<div class="flip-card-front">
							<p class="title">FLIP CARD</p>
							<p>Hover Me</p>
						</div>
						<div class="flip-card-back">
							<p class="title">BACK</p>
							<a href="/ABOUT">Enter About.</a>
						</div>
					</div>
				</div>
			</section>
		
			<section class="hidden2">
				<div class="flip-card box box6">
					<div class="flip-card-inner">
						<div class="flip-card-front">
							<p class="title">FLIP CARD</p>
							<p>Hover Me</p>
						</div>
						<div class="flip-card-back">
							<p class="title">BACK</p>
							<a href="/ABOUT">Enter About.</a>
						</div>
					</div>
				</div>

			</section>
		
			<section class="hidden">
				<div class="flip-card box box6">
					<div class="flip-card-inner">
						<div class="flip-card-front">
							<p class="title">FLIP CARD</p>
							<p>Hover Me</p>
						</div>
						<div class="flip-card-back">
							<p class="title">BACK</p>
							<a href="/ABOUT">Enter About.</a>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>

</MainLayout>


<script defer>
	setTimeout(function(){document.querySelector('.content2').classList.add("showBody");}, 1000);
	setTimeout(function(){document.querySelector('html').classList.add("snap");}, 2000);
	
	var observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
		if (entry.isIntersecting && entry.target.classList.contains("final")) {
			console.log("final")
			document.querySelector('.content2').classList.add("fadeOut");
			setTimeout(function(){window.location.href = "";}, 1000);
		}
        else if(entry.isIntersecting) {
			console.log("normal")
            entry.target.classList.add('show');
		} else {
            entry.target.classList.remove('show');
        }
    });
});

var hiddenElementsIndex = document.querySelectorAll('.hidden');
hiddenElementsIndex.forEach((el) => observer.observe(el));
var hiddenElementsIndex2 = document.querySelectorAll('.hidden2');
hiddenElementsIndex2.forEach((el) => observer.observe(el));
var hiddenElementsIndex3 = document.querySelectorAll('.final');
hiddenElementsIndex3.forEach((el) => observer.observe(el));
</script>

<style>
	.gradient
	{
		background-image: linear-gradient(#adc473, #adc473);
	}
</style>