---
import MainLayout from "../layouts/MainLayout.astro";
import FlipCard from "../OLD/FlipCard.astro";
import { Parallax, ParallaxLayer } from '@react-spring/parallax'

const title = 'Crisis Of Transparency';
const blueBlack = '#010007';
const grayWhite= 'dae0e8';
const darkBlue = '#0a0149';
const lightBlue = '#daeafa';
const slateGray = '#96a2ba';
const lightGray = 'DDDCE2';
const mossGreen = '#adc473';
const greenWhite = 'f7fcec';
---

<MainLayout title={title}>
	<div class="content">
		<div class="section1" style="background-image: linear-gradient(#02000f,#dae0e8);">
			<br>
			<br>
		</div>

		<section class="mainImg" style="background-color: #0a0149"> 
			<br>
			<br>
		</section>
		
		<div class="section1" style="background-image: linear-gradient(#0a0149,#daeafa);">
			<br>
			<br>
		</div>

		<section class="mainImg2" style="background-color: #daeafa">
			<br>
			<br>
		</section>

		<div class="section2" style="background-image: linear-gradient(#96a2ba,#DDDCE2);">
			<br>
			<br>
		</div>

		<section class="mainImg3" style="background-color: #96a2ba">
			<br>
			<br>
		</section>

		<div class="section3" style="background-image: linear-gradient(#adc473,#f7fcec);">
			<br>
			<br>
		</div>
	</div>
</MainLayout>

<script defer>
	setTimeout(function(){document.querySelector('.content').classList.add("showBody");}, 1000);
	setTimeout(function(){document.querySelector('html').classList.add("snap");}, 2000);
	
	var observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
		if (entry.isIntersecting && entry.target.classList.contains("final")) {
			console.log("final")
			document.querySelector('.content').classList.add("fadeOut");
			setTimeout(function(){window.location.href = "ParliamentHill";}, 1000);
		}
        else if(entry.isIntersecting) {
			console.log("normal")
            entry.target.classList.add('show');
		} else {
            entry.target.classList.remove('show');
        }
    });
});

var hiddenElementsIndex = document.querySelectorAll('.hidden');
hiddenElementsIndex.forEach((el) => observer.observe(el));
var hiddenElementsIndex2 = document.querySelectorAll('.hidden2');
hiddenElementsIndex2.forEach((el) => observer.observe(el));
var hiddenElementsIndex3 = document.querySelectorAll('.final');
hiddenElementsIndex3.forEach((el) => observer.observe(el));
</script>

<style>
	.gradient
	{
		background-image: linear-gradient(#0a0149, #daeafa);
	}
</style>