---
import MainLayout from "../layouts/MainLayout.astro";

const title = 'Crisis Of Transparency';
const startColor = '#0a0149';
const endColor = '#daeafa';
const imgURL = "https://i.imgur.com/1Pg1vIw.png";
---

<MainLayout title={title} startColor={startColor} endColor={endColor} imgURL={imgURL}>
	<div class="content">
		<section class="mainImg" style="background-color: blue">
			<br>
			<br>
		</section>
		
		<div class="gradient">
			<section class="hidden">
				<div class="flip-card box box6">
					<div class="flip-card-inner">
						<div class="flip-card-front">
							<p class="title">FLIP CARD</p>
							<p>Hover Me</p>
						</div>
						<div class="flip-card-back">
							<p class="title">BACK</p>
							<a href="/ABOUT">Enter About.</a>
						</div>
					</div>
				</div>
			</section>
		
			<section class="hidden2">
				<div class="flip-card box box6">
					<div class="flip-card-inner">
						<div class="flip-card-front">
							<p class="title">FLIP CARD</p>
							<p>Hover Me</p>
						</div>
						<div class="flip-card-back">
							<p class="title">BACK</p>
							<a href="/ABOUT">Enter About.</a>
						</div>
					</div>
				</div>
			</section>
		
			<section class="hidden">
				<div class="flip-card box box6">
					<div class="flip-card-inner">
						<div class="flip-card-front">
							<p class="title">FLIP CARD</p>
							<p>Hover Me</p>
						</div>
						<div class="flip-card-back">
							<p class="title">BACK</p>
							<a href="/ABOUT">Enter About.</a>
						</div>
					</div>
				</div>
			</section>
		
			<section class="hidden2">
				<div class="flip-card box box6">
					<div class="flip-card-inner">
						<div class="flip-card-front">
							<p class="title">FLIP CARD</p>
							<p>Hover Me</p>
						</div>
						<div class="flip-card-back">
							<p class="title">BACK</p>
							<a href="/ABOUT">Enter About.</a>
						</div>
					</div>
				</div>
			</section>

			<section class="final">

			</section>
		</div>

	</div>

</MainLayout>

<script defer>
	setTimeout(function(){document.querySelector('.content').classList.add("showBody");}, 1000);
	setTimeout(function(){document.querySelector('html').classList.add("snap");}, 2000);
	
	var observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
		if (entry.isIntersecting && entry.target.classList.contains("final")) {
			console.log("final")
			document.querySelector('.content').classList.add("fadeOut");
			setTimeout(function(){window.location.href = "ParliamentHill";}, 1000);
		}
        else if(entry.isIntersecting) {
			console.log("normal")
            entry.target.classList.add('show');
		} else {
            entry.target.classList.remove('show');
        }
    });
});

var hiddenElementsIndex = document.querySelectorAll('.hidden');
hiddenElementsIndex.forEach((el) => observer.observe(el));
var hiddenElementsIndex2 = document.querySelectorAll('.hidden2');
hiddenElementsIndex2.forEach((el) => observer.observe(el));
var hiddenElementsIndex3 = document.querySelectorAll('.final');
hiddenElementsIndex3.forEach((el) => observer.observe(el));
</script>

<style>
	.gradient
	{
		background-image: linear-gradient(#0a0149, #daeafa);
	}

	.flip-card {	padding-top: 10vh;
		background-color: transparent;
		width: 80vh;
		height: 80vh;
		perspective: 1000px;
		font-family: sans-serif;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid coral;
  border-radius: 1rem;
}

.flip-card-front {
  background: white;
  color: rgb(5, 2, 19);
}

.flip-card-back {
  background: black;
  color: white;
  transform: rotateY(180deg);
}
</style>