---
import MainLayout from "../layouts/MainLayout.astro";

const title = 'Crisis Of Transparency';
const startColor = '#0a0149';
const endColor = '#daeafa';
const imgURL = "https://i.imgur.com/1Pg1vIw.png";
---

<MainLayout title={title} startColor={startColor} endColor={endColor} imgURL={imgURL}>
	<!-- <h1 id="mainTitle">A Crisis of Transparency</h1> -->
	<div class="content">
		<section class="mainImg" style="background-color: blue">
			<br>
			<br>
		</section>
		
		<div class="gradient">
			<section class="hidden">
				<div class="flip-card box box1">
					<div class="flip-card-inner">
						<div class="flip-card-front">
							<p class="title"></p>
							<p>Access to information is a cornerstone of democracy, but Canada’s system has broken down. </p>
							<p>A systemic breakdown in the availability of vital government information tears at accountability frameworks and threatens the very fabric of our democratic society.</p>
							<p>This crisis of transparency has helped undermine Canadian trust in their government. </p>
							<!-- <b class="instruction">Hold click to flip the card</b> -->
							<!-- <img class="arrow" src="arrow.png"/> -->
						</div>
						<div class="flip-card-back">
							<p class="title">BACK</p>
							<a href="/ABOUT">Enter About.</a>
						</div>
					</div>
				</div>
			</section>
		
			<section class="hidden2">
				<div class="flip-card box box2">
					<div class="flip-card-inner">
						<div class="flip-card-front">
							<p class="title"></p>
							<p>Every time a new government takes office, they pledge transparency, yet once elected, this promise often fades. Instead of progress, there's a pattern of backtracking, leaving citizens disillusioned with unfulfilled expectations.</p>
							<!-- <b class="instruction">Hold click to flip the card</b>
							<img class="arrow" src="arrow.png"/> -->
						</div>
						<div class="flip-card-back">
							<p class="title">BACK</p>
							<a href="/ABOUT">Enter About.</a>
						</div>
					</div>
				</div>
			</section>
		
			<section class="hidden">
				<div class="flip-card box box6">
					<div class="flip-card-inner">
						<div class="flip-card-front">
							<p class="title">VIDEO OF HARPER/CONS W/ FEDERAL ACCOUNTABILITY ACT</p>
							<!-- <iframe style="border:none;" class="vid" width="560" height="315" src="https://www.youtube.com/embed/R3M8Auy7nJs?autoplay=1&mute=1&si=3Aw42EIyRdAaCHTK&amp;controls=0&amp;start=1" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->
						</div>
						<div class="flip-card-back">
							<p class="title">BACK</p>
							<a href="/ABOUT">Enter About.</a>
						</div>
					</div>
				</div>

				
			</section>
			
			<section class="final">
			</section>
		</div>

	</div>

</MainLayout>

<script defer>
	setTimeout(function(){document.querySelector('.content').classList.add("showBody");}, 1000);
	setTimeout(function(){document.querySelector('html').classList.add("snap");}, 2000);
	
	var observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
		if (entry.isIntersecting && entry.target.classList.contains("final")) {
			console.log("final")
			document.querySelector('.content').classList.add("fadeOut");
			setTimeout(function(){window.location.href = "ParliamentHill";}, 1000);
		}
        else if(entry.isIntersecting) {
			console.log("normal")
            entry.target.classList.add('show');
		} else {
            entry.target.classList.remove('show');
        }
    });
});

var hiddenElementsIndex = document.querySelectorAll('.hidden');
hiddenElementsIndex.forEach((el) => observer.observe(el));
var hiddenElementsIndex2 = document.querySelectorAll('.hidden2');
hiddenElementsIndex2.forEach((el) => observer.observe(el));
var hiddenElementsIndex3 = document.querySelectorAll('.final');
hiddenElementsIndex3.forEach((el) => observer.observe(el));
</script>

<style>
	.gradient
	{
		background-image: linear-gradient(#0a0149, #daeafa);
	}
</style>