---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Home">
	<h1>HOLA</h1>
	<a href="about"><button style="height: 50px; width: 200px;"></button></a>
	<p>content</p>
	<br>
	<img style="padding-left: 10%;" src="MH.jpg" alt="img" transition:name="mhImage">
</MainLayout>
