---
import HOCParallax from '../components/HOCParallax.jsx';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<HOCParallax />
		<h1>Crisis Of Transparency</h1>
		<h2>Hello Gavin</h2>
		<h2>Hello Ian </h2>
		<h2>Hello Carlos </h2>
	</body>
</html>
