---
import MainLayout from "../layouts/MainLayout.astro";
import Typewriter from "../components/Typewriter.jsx"; 
import ParallaxContent from "../components/ParallaxContent";
import ParallaxContentSectionOne from "../components/ParallaxContentSectionOne";

const title = 'Crisis Of Transparency';
const blueBlack = '#010007';
const grayWhite= 'dae0e8';
const darkBlue = '#0a0149';
const lightBlue = '#daeafa';
const slateGray = '#96a2ba';
const lightGray = 'DDDCE2';
const mossGreen = '#adc473';
const greenWhite = 'f7fcec';

const sectionOneVids = [
	 '../vids/Vid1.mp4',
	'../vids/Vid2.mp4',
	'../vids/Vid3.mp4'
]
const sectionOneTexts = [
	'This week is “Right to Know” Week in Canada and around the world.',
	'Access to information is a cornerstone of Canadian democracy, keeping governments accountable, encouraging citizen participation, and giving Canadians access to the information their taxes pay for.',
	'But the current system is in disarray.',
	'In May 2023, the Information Commissioner, the independent ombudsman for the system, appeared before Parliament…',
	'… to criticize the current system and a system that deliberately underfunded her office’s capacity to process complaints by access to information requesters.',
	'The following year, her budget was cut further.',
	'Today, the system is in sharp decline.',
	'Delays are endemic.',
	'Funding is low.',
	'Real costs are not being met.',
	'A systemic breakdown in the availability of vital government information tears at accountability frameworks, accelerating a decline in Canadian trust in government institutions.',
	'And the faltering system has wrought havoc on Canadian journalism, contributing to distrust and a plague of misinformation and disinformation fueled by the government itself.',
	'How did this happen?'
];
const sectionOneImgs = [
  '../imgs/slide8.png',
  '../imgs/slide12.png',
  '../imgs/slide16a.png',
  '../imgs/slide16b.png',
];

---

<MainLayout title={title}>
	<div class="content">
		<button id="unmuteButton">
			<img id="musicIcon" alt="Mute/Unmute" src="/Muted.png"/>
		</button>
		<div class="section1" style="background-image: linear-gradient(#02000f,#dae0e8);">
			<span>
				<ParallaxContentSectionOne
					videos={sectionOneVids}
					texts={sectionOneTexts}
					imgs={sectionOneImgs}
				/>
			</span>
		</div>

		<section class="banner1" style="background-color: #dae0e8"> 
			<br>
			<br>
		</section>
		
		<div class="section2" style="background-image: linear-gradient(#96a2ba,#DDDCE2);">
			<section>
				<!-- <Text text="I am Ian and I am..." isBlackBg ="true" isTitle="true" isTop="true" isMid="true"/> -->
				<span id="TypeWriterBox">
					<Typewriter text='It should be noted that there is a fundamental distinction between, on the one hand, excluding information from the scope of Access and, on the other, exempting it from the right of access. Exempt information is subject to the general regime of the Access to Information legislation in that applicants may request it but have no right to it; when they are denied exempt information they may lodge a complaint with the Information Commissioner and, subsequently, apply to the Federal Court for a review of the denial. Excluding information from the scope of Access is a far more radical step. Not only is there no right to such information but denying such information does not open the way to complaints before the Information Commissioner nor to a review by the Federal Court.' text2='' client:visible/>
				</span>
			</section>
		</div>

		<section class="banner2" style="background-color: #daeafa">
			<br>
			<br>
		</section>

		<div class="section3" style="background-image: linear-gradient(#96a2ba,#DDDCE2);">
			<br>
			<br>
			<br>
			<br>
		</div>

		<section class="banner3" style="background-color: #96a2ba">
			<br>
			<br>
		</section>

		<div class="section4" style="background-image: linear-gradient(#adc473,#f7fcec);">
			<br>
			<br>
			<br>
			<br>
		</div>
	</div>
</MainLayout>

<script is:inline>
	setTimeout(function(){document.querySelector('.content').classList.add("showBody");}, 1000);
	
	//This gets the audio element in ordcer to play, pause and set volume
	const audio = document.getElementById('background-music');
	const musicIcon = document.getElementById('musicIcon');
	audio.volume = 0.05;
	// audio.play();
	
	//Observer for the text boxes, they slide in when they reach it in the html
	var observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
		if(entry.isIntersecting) {
            entry.target.classList.add('show');
		} else {
            entry.target.classList.remove('show');
        }
    });
	});
	
	let hiddenElementsIndex = document.querySelectorAll('.hidden');
	hiddenElementsIndex.forEach((el) => observer.observe(el));
	let hiddenElementsIndex2 = document.querySelectorAll('.hidden2');
	hiddenElementsIndex2.forEach((el) => observer.observe(el));

	//Observer for the videos, they will pause the music once they reach and play once they leave the video block
	var videoObserver = new IntersectionObserver((entries) => {
		entries.forEach((entry) => {
			if(entry.isIntersecting) {
				audio.pause();
				entry.target.classList.add('show');
			} else {
				// entry.target.classList.remove('show');
				audio.play();
			}
		});
	});

	const videos = document.querySelectorAll('.video');
	videos.forEach((el) => videoObserver.observe(el));

	unmuteButton.addEventListener('click', function() {
		if(audio.muted === false)
		{
			audio.muted = true;
			musicIcon.src = "/Muted.png";
		}
		else
		{
			audio.muted = false;
			musicIcon.src = "/Unmuted.png";
		}
	});
</script>



