---
const Building = "https://imgur.com/WyHLSPG";
const TopClouds = "https://imgur.com/l0bfmBC";
const Clouds = "hhttps://imgur.com/Sl74Mwh";
const Door = "https://imgur.com/7TgbhPq";
const FirePit = "https://imgur.com/0QixYzM";
const Grass = "https://imgur.com/MorJBHy";
const Gravel = "https://imgur.com/MbaGLMB";
const Hedge = "https://imgur.com/SBIjaca";
const Path = "https://imgur.com/V9vbXIu";
const Sky = "https://imgur.com/XeHmffr";
const Steps = "https://imgur.com/PJxbZxD";

const images = [
  { src: Sky, alt: "Sky" },
  { src: TopClouds, alt: "Top Clouds" },
  { src: Clouds, alt: "Clouds" },
  { src: Building, alt: "Building" },
  { src: Door, alt: "Door" },
  { src: FirePit, alt: "Fire Pit" },
  { src: Grass, alt: "Grass" },
  { src: Gravel, alt: "Gravel" },
  { src: Hedge, alt: "Hedge" },
  { src: Path, alt: "Path" },
  { src: Steps, alt: "Steps" }
];

import ParallaxLayer from './ParallaxLayer.astro';
---

<div class="section">
  {images.map(({ src, alt }, index) => (
    <ParallaxLayer
      src={src}
      alt={alt}
      speed={index % 2 === 0 ? '0.5' : '0.2'}
      layerClass={`parallax__layer parallax__layer--${index % 2 === 0 ? 'back' : 'base'}`}
    />
  ))}
</div>
