/* Mobile styles */
.ImgContainer {
    box-sizing: border-box;
    display: flex;
    margin: 1vh;
    align-items: center;
    flex-wrap: wrap;
}

.ImgCenterTop {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 0);
}

.ImgCenterMid {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.ImgCenterBottom {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, 0);
}

.ImgLeftTop {
    position: absolute;
    left: 1vh;
    top: 1vh;
}

.ImgLeftCenter {
    position: absolute;
    left: 1vh;
    top: 50%;
    transform: translate(0, -50%);
}

.ImgLeftBottom {
    position: absolute;
    left: 1vh;
    bottom: 1vh;
}

.ImgRightTop {
    position: absolute;
    right: 1vh;
    top: 1vh;
}

.ImgRightCenter {
    position: absolute;
    right: 1vh;
    top: 50%;
    transform: translate(0, -50%);
}

.ImgRightBottom {
    position: absolute;
    right: 1vh;
    bottom: 1vh;
}

.ImgCenterTop2 {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, 0);
}

.ImgCenterMid2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.ImgCenterBottom2 {
    position: absolute;
    left: 50%;
    bottom: 25%;
    transform: translate(-50%, 0);
}
