.ImgContainer {
    box-sizing: border-box;
    display: flex;
    flex: 100%;
}

.ImgContainer2 {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex: 100%;
    justify-content: space-around;
    height: 100%;
}


.ImgCenter {
    margin: auto;
    vertical-align: middle;
    align-self: center;
    width: 40%;
    margin-top: 5rem;
}

.ImgCenter2 {
    margin: auto;
    vertical-align: middle;
    align-self: center;
    width: 30%;
    margin-top: 1rem;
}

/* Media Queries for Responsive Font Sizes */
@media (max-width: 768px) {
    .ImgCenter {
        width: 85%;
    }
}

@media (max-width: 480px) {
    .ImgCenter {
        width: 85%;
    }
}


