---

import { Picture } from 'astro:assets';

---

<div  class="scroll"  data-speed="3.9">
	<Picture  src={import('../assets/HOC - Building.png')}  widths={[100]} class="flyGuy"  alt="flyguy"  />
</div>

<script  type="module">

function  enableParallax() {

	const  isMac =

	navigator.userAgentData?.platform.toLowerCase().includes('mac') ||

	navigator.platform?.toLowerCase().includes('mac');

	const  isChrome = navigator.userAgent.toLowerCase().includes('chrome');

  

// Laggy behavior on chrome and mac with parallax scrolling

	if (isMac && isChrome) return;

	  

	const  targets = document.querySelectorAll('.scroll');

	window.addEventListener('scroll', () => {
	
		const  offset = window.scrollY / 10;

		targets.forEach((target) => {

		target.style.transform = `translateY(${offset * target.dataset.speed}px)`;

			});
		});
	}

enableParallax();

</script>