---
export interface Props {
  src: string;
  alt: string;
  speed: string;
  layerClass: string;
}

const { src, alt, speed, layerClass } = Astro.props;
---

<div class={layerClass} style={`animation-duration: ${speed}s;`}>
  <img src={src} alt={alt} />
</div>
