.VidContainer 
{
    box-sizing: border-box;
    display: flex;
    flex: 100%;
}

.VidContainer2
{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex: 100%;
    justify-content: space-around;
    height: 100%;
}

.VideoCenter
{
    padding-left: 1%;
    padding-right: 1%;
    vertical-align: middle;
    align-self: center;
    width: 100%;
    z-index: 1;
}

.VideoTop
{
    margin: auto;
    vertical-align: middle;
    align-self: center;
    width: 40%;
}

.VideoBottom
{
    display: flex;
    margin: auto;
    vertical-align: middle;
    align-self: center;
    width: 40%;
}