---
const { FrontTitle,  BackTitle, FrontContent, BackContent} = Astro.props;
import "./FlipCard.css";
---

<div class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <h1 class="title">{FrontTitle}</h1>
            <p class="paragraph">{FrontContent}</p>
            <slot name="front-slot">
            </slot>
            <img class="arrow" src="https://i.imgur.com/G5eqhUv.png"/>
        </div>
        <div class="flip-card-back">
            <h1 class="title">{BackTitle}</h1>
            <p class="paragraph">{BackContent}</p>
            <slot name="back-slot">
            </slot>
            <img class="arrow" src="https://i.imgur.com/TqFaVaG.png"/>
        </div>
    </div>
</div>
<script type="module" src="./FlipCard.js"></script>

