/* Mobile styles */
.ImgContainer
{
    box-sizing: border-box;
    display: flex;
    margin: 1vh;
    align-items: center;
    flex-wrap: wrap;
}

.ImgCenter {
    position: absolute;
    left: 50%;
    bottom: 35%;
    transform: translateX(-50%);
}

.ImgCenterTop {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
}

.ImgCenterMid {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.ImgCenterBottom {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
}

.ImgLeftBottom {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateX(0);
}

.ImgLeftBottom {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateX(0);
}

.ImgRightTop {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(0);
}

.ImgRightTopCenter {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.ImgRightBotCenter {
    position: absolute;
    right: 0;
    bottom: 50%;
    transform: translateY(50%);
}

.ImgRightBottom {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateX(0);
}

.ImgHardTop
{
    position: absolute;
    left: 50%;
    Top: 0%;
    transform: translateX(-50%);
}

.flagResize
{
    width: 100px;
}


/* Tablet styles */
@media (min-width: 481px) 
{
}

/* Desktop styles */
@media (min-width: 769px) 
{
}