/* Mobile styles */
.ImgContainer
{
    box-sizing: border-box;
    display: flex;
    margin: 1vh;
    align-items: center;
    flex-wrap: wrap;
}
.ImgCenterTop
{
    position: absolute;
    left: 50%;
    Top: 10%;
    transform: translateX(-50%);
}
.ImgCenterBottom
{
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
}
.ImgCenter
{
    position: absolute;
    left: 50%;
    bottom: 35%;
    transform: translateX(-50%);
}
.ImgHardTop
{
    position: absolute;
    left: 50%;
    Top: 0%;
    transform: translateX(-50%);
}


/* Tablet styles */
@media (min-width: 481px) 
{
}

/* Desktop styles */
@media (min-width: 769px) 
{
}