---
const { title} = Astro.props;
import "./MainLayout.css";
import '@fontsource/aldrich';
---

<!doctype html>
<html lang="en" >
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=1280">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<title>{title}</title>
	</head>
	<body>
		<div id="responsiveDiv">
		<slot></slot>
		</div>
	</body>
</html>

