---
const { title} = Astro.props;
import "./MainLayout.css";
import '@fontsource/aldrich';
---

<!doctype html>
<html lang="en" >
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<title>{title}</title>
	</head>
	<body>
		<!--<audio id="background-music" src="/Music.mp3" autoplay muted loop></audio>-->
		<div id="responsiveDiv">
			<!--<button id="unmuteButton">-->
			<!--	<img id="musicIcon" alt="Mute/Unmute" src="/Muted.png"/>-->
			<!--</button>-->
		<slot></slot>
		</div>
		<script src="src/layouts/AnimationPlay.js" client:load></script>
	</body>
</html>

<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	body
	{
		padding:0px;
		margin:0px;
	}
	h1
	{
		margin: 0px;
	}
	html {
		font-family: system-ui, sans-serif;
		background-size: cover;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	.instruction
	{
		font-size: 0.5rem ;
		position: fixed;
		display: inherit;
		margin-top: 29rem;
		margin-left: 29.5rem;
	}
	
	.vid
	{
		margin-top: 29rem;
		margin-left: 2rem;
	}

	#mainTitle
	{
		text-align: center;
		font-size: 10rem;
		padding-top: 30rem;
		padding-left: 55rem;
		position: fixed;
	}
	 audio {
		 display: none;
	 }
	 
	 .wrapper
	 {
		 display: grid;
		 grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		 grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	 }

	#unmuteButton
	{
		padding: 0.5%;
		left: 0.5%;
		top: 0%;
		z-index: 3;
	}
	 
	 #unmuteButton img{
		 background-color: ivory;
		 border-style: solid;
		 border-radius: 1px;
		 border-color: black;
	 }

</style>

