

/*This are all the text styles that should be used*/

.TextStyle
{
    padding:2vh;
    text-align: center;
    flex: 1;
    min-width: 0;
    overflow-wrap: break-word; /* Allow breaking words to prevent overflow */
    word-wrap: break-word; /* Add compatibility for older browsers */
    white-space: normal; /* Allow text to wrap to multiple lines */
}

.TypeBox
{
    margin-left: 15%;
    margin-right: 15%;
    padding:1vh;
    text-align: center;
    background-color: white;
    color: black;
    overflow-wrap: break-word; /* Allow breaking words to prevent overflow */
    word-wrap: break-word; /* Add compatibility for older browsers */
    white-space: normal; /* Allow text to wrap to multiple lines */
}
.Title /* Title */
{
    font-size: 3vh;
    font-weight: bolder;
}

.Subtitle /* Subtitle */
{
    text-align: center;
    font-size: 3vh;
    /*font-weight: bold;*/
}

.Header /* Header */
{
    font-size: 3.5vh;
    font-style: italic;
    font-weight: bold;
}

.Dramatic /* Dramatic Text */
{
    font-size: 1.5vh;
    font-style: italic;
}

.Normal /* Normal Text */
{
    font-size: 2vh;
}

.TextDisplay
{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: grid;
    margin: 1vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

/*These are the styles for the actual container */
.TextContainer
{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* Ensure flex items can wrap */
    margin-left: 2%; /* Adjust the margin as needed */
    margin-right: 2%; /* Adjust the margin as needed */
}

.WhiteBg {
    color: black;
    margin: 1vh;
    background-color: rgb(255, 255, 255);
    border: 1px solid black; 
    box-shadow: 5px 5px; 
}

.RedBg
{
    color: white;
    margin: 1vh;
    background-color: rgb(255, 75, 75);
    border: 1px solid black; 
    box-shadow: 10px 10px; 
}

.BlueBg
{
    color: white;
    margin: 1vh;
    background-color: rgb(75, 75, 255);
    border: 1px solid black; 
    box-shadow: 10px 10px; 
}

.Left
{
    grid-column: 1/5;
}

.Mid
{
    grid-column: 2/7;
    
}

.Right
{
    grid-column: 4/8;
}

.Top
{
    grid-row: 1;
}

.Center
{
    grid-row: 4;
}

.TopCenter1
{
    grid-row: 2;
}

.TopCenter2
{
    grid-row: 3;
}

.Bottom
{
    grid-row: 6;
}

.Floor
{
    grid-row: 7;
}

.CenterBottom{
    grid-row: 5;
}

.TopToBottom
{
    grid-row: 1/4;
}

.TextCenter {
    position: absolute;
    left: 50%;
    bottom: 45%;
    transform: translateX(-50%);
    text-align: center;
}

.TextCenterBottom {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    text-align: center;
}

.TextLeftCenter {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
}

.TextRightTop {
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
}

.TextLeftTop {
    position: absolute;
    left: 0;
    top: 0;
    text-align: left;
}

.TextRightTopCenter {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: right;
}

.TextRightBotCenter {
    position: absolute;
    right: 0;
    bottom: 50%;
    transform: translateY(50%);
    text-align: right;
}

.TextRightBot {
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: right;
}

.TextCenterTop {
    position: absolute;
    left: 20%;
    top: 10%;
    transform: translateX(-50%);
    text-align: center;
}

.Source {
    position: absolute;
    left: 1%;
    bottom: 0%;
    z-index: 3;
}

.Source2 {
    position: absolute;
    left: 0.5%;
    top: 0;
    z-index: 3;
}

.fade-in-section{
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1s ease-out;
    will-change: opacity, visibility;
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
  }


/* Tablet styles */
@media (max-width: 800px) 
{
    .TextStyle
    {
        font-size: 1.75vh;
        padding:0vh;
        text-align: center;
        flex: 1;
        min-width: 0;
        overflow-wrap: break-word; /* Allow breaking words to prevent overflow */
        word-wrap: break-word; /* Add compatibility for older browsers */
        white-space: normal; /* Allow text to wrap to multiple lines */
    }
    .Title /* Title */
    {
        font-size: 1.75vh;
        font-weight: bolder;
    }

    .Subtitle /* Subtitle */
    {
        text-align: center;
        font-size: 1.5vh;
        /*font-weight: bold;*/
    }

    .Header /* Header */
    {
        font-size: 1.50vh;
        font-style: italic;
        font-weight: bold;
    }

    .Dramatic /* Dramatic Text */
    {
        font-size: 1vh;
        font-style: italic;
    }

    .Normal /* Normal Text */
    {
        font-size: 0.5vh;
    }
    
    .Mid
    {
        grid-row: 4;        
    }

    .Bottom
    {
        grid-row: 5;
    }

    .Source {
        position: absolute;
        left: 1%;
    }
}

