.WhiteBg {
    color: black;
    background-color: rgb(255, 255, 255);
    border: 1px solid black; 
    box-shadow: 5px 5px; 
}

.halfSizeRight{
        float:right;
        width: 50%;
}

.halfSizeLeft{
    float:left;
    width: 50%;
}

.flagResize
{
    max-width: 6vh;
}

.TimelineTxt{
    color:black;
    float:right;
}


.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
}  

.flex-child:first-child {
    margin-right: 20px;
} 