.WhiteBg {
    color: black;
    background-color: rgb(255, 255, 255);
    border: 1px solid black; 
    box-shadow: 5px 5px; 
}

.halfSizeRight{
        position: absolute;
        float:right;
        width: 50%;
}

.flagResize
{
    max-width: 6vh;
}

.TimelineTxt{
    color:black;
    float:right;
}
