.WhiteBg {
    color: black;
    background-color: rgb(255, 255, 255);
    border: 1px solid black; 
    box-shadow: 5px 5px; 
}

.halfsizeright{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
}

.flagresize{
    height: 100px;
    max-width: 100px;
}

